streamlit==1.50.0
streamlit-webrtc==0.63.11
aiortc==1.13.0
opencv-python-headless==4.13.0.92
numpy==2.0.2
scipy==1.13.1
dlib==20.0.1
plotly==6.7.0
ultralytics==8.4.46
requests==2.32.5
--only-binary=av
av==14.2.0
